@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700;900&family=Roboto:wght@400;500;700;900&display=swap');

html {
    font-size: 62,5%;
}

body {
    /* font-family: 'Roboto', 'sans-serif' */
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.body__blog {
    margin: 0px;
    padding: 0px;
    position: static;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #47cfac;
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span::before {
    color: white;
    font-size: 2.2rem;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 90px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
    font-family: 'Roboto Mono', 'monospaced';
}

nav .nav-logo-container img {
    width: 220px;
    margin-top: 10px;
}

nav .nav-profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.home {
    height: calc(100vh - 140px);
    width: 100%;
    background-image: url('../assets/img/Cover.png');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.home__container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-family: 'Roboto', 'sans-serif'
}

.home__container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom:  50px;
    font-family: 'Roboto Mono', monospace;
}

.home__container .button {
    height: 50px;
    width: 120px;
    background-color: #47cfac;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
    border: none;
    display: grid;
    align-items: center;
}

.home__container .button:hover {
    background-color: #3CB093;
    cursor: pointer;
    transform: scale(1.05);
}

footer {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid #47cfac;
    justify-content: center;
}

footer p {
    color: white;
    margin-top: 30px;
}

.main__container {
    max-width: 980px;
    margin: auto;
    text-align: justify;
}

.blog__container-img {
    display: flex;
    background-image: url('../assets/img/main-news-img.png');
    width: 100%;
    height: calc(100vh - 140px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.blog__container-img h1 {
    color: white;
    font-size: 2.6rem;
    font-family: 'Roboto Mono', 'monospaced';
    text-shadow: 1px 0px 10px rgba(255,253,252,0.67);
}

.blog__container-p {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Roboto Mono', 'monospaced';
}

.contact__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #cdd2da;
    width: 100%;
    height: 200px;
}

.contact__container-box {
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    font-family: 'Roboto Mono', 'monospaced';
    font-size: 1rem;
    font-weight: bold;
}

.contact__container-box img {
    width: 100px;
    height: 100px;
    padding-right: 20px;
}

.contact__container-box p {
    margin-bottom: 0;
}

.contact__container-box a {
    height: 90px;
}

.contact__container-box a:hover {
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
}